Deepam Sarmah
2020050
deepam20050@iiitd.ac.in

Importing libraries and mounting Gdrive for 
- Artificial Neural Network
- Label Encoding
- Confusion Matrix
- csv file

In [58]:
from sklearn import metrics
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Read .csv file

In [59]:
roo = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/roo_data.csv')

To shuffle the rows (Optional)

In [60]:
roo = roo.sample(frac = 1)

Implementing reclassification to reduce target variables to 7 classifications tasks

In [61]:
roo.loc[roo['Suggested Job Role'] == 'Solutions Architect','Suggested Job Role' ] = 'Architect'
roo.loc[roo['Suggested Job Role'] == 'Network Engineer','Suggested Job Role' ] = 'Engineer'
roo.loc[roo['Suggested Job Role'] == 'Network Security Engineer','Suggested Job Role' ] = 'Engineer'
roo.loc[roo['Suggested Job Role'] == 'Software Engineer','Suggested Job Role' ] = 'Engineer'
roo.loc[roo['Suggested Job Role'] == 'Software Systems Engineer','Suggested Job Role' ] = 'Engineer'
roo.loc[roo['Suggested Job Role'] == 'Technical Engineer','Suggested Job Role' ] = 'Engineer'
roo.loc[roo['Suggested Job Role'] == 'Network Security Administrator','Suggested Job Role'] = 'SysAdmin'
roo.loc[roo['Suggested Job Role'] == 'Portal Administrator','Suggested Job Role'] = 'SysAdmin'
roo.loc[roo['Suggested Job Role'] == 'Systems Security Administrator','Suggested Job Role'] = 'SysAdmin'
roo.loc[roo['Suggested Job Role'] == 'Information Technology Manager','Suggested Job Role' ] = 'Supervisor'
roo.loc[roo['Suggested Job Role'] == 'Project Manager','Suggested Job Role' ] = 'Supervisor'
roo.loc[roo['Suggested Job Role'] == 'Business Intelligence Analyst','Suggested Job Role' ] = 'Analyst'
roo.loc[roo['Suggested Job Role'] == 'Business Systems Analyst','Suggested Job Role' ] = 'Analyst'
roo.loc[roo['Suggested Job Role'] == 'CRM Business Analyst','Suggested Job Role' ] = 'Analyst'
roo.loc[roo['Suggested Job Role'] == 'Information Security Analyst','Suggested Job Role' ] = 'Analyst'
roo.loc[roo['Suggested Job Role'] == 'Programmer Analyst','Suggested Job Role' ] = 'Analyst'
roo.loc[roo['Suggested Job Role'] == 'Systems Analyst','Suggested Job Role' ] = 'Analyst'
roo.loc[roo['Suggested Job Role'] == 'E-Commerce Analyst','Suggested Job Role' ] = 'Analyst'
roo.loc[roo['Suggested Job Role'] == 'Technical Services/Help Desk/Tech Support','Suggested Job Role' ] = 'Technician'
roo.loc[roo['Suggested Job Role'] == 'Technical Support','Suggested Job Role' ] = 'Technician'
roo.loc[roo['Suggested Job Role'] == 'Applications Developer','Suggested Job Role' ] = 'SDE'
roo.loc[roo['Suggested Job Role'] == 'CRM Technical Developer','Suggested Job Role' ] = 'SDE'
roo.loc[roo['Suggested Job Role'] == 'Mobile Applications Developer','Suggested Job Role' ] = 'SDE'
roo.loc[roo['Suggested Job Role'] == 'Software Developer','Suggested Job Role' ] = 'SDE'
roo.loc[roo['Suggested Job Role'] == 'Web Developer','Suggested Job Role' ] = 'SDE'
roo.loc[roo['Suggested Job Role'] == 'UX Designer','Suggested Job Role' ] = 'QoS-Engineer'
roo.loc[roo['Suggested Job Role'] == 'Software Quality Assurance (QA) / Testing','Suggested Job Role' ] = 'QoS-Engineer'
roo.loc[roo['Suggested Job Role'] == 'Quality Assurance Associate','Suggested Job Role' ] = 'QoS-Engineer'
roo.loc[roo['Suggested Job Role'] == 'Information Technology Auditor','Suggested Job Role' ] = 'QoS-Engineer'

Printing the .csv file after performing reclassification

In [62]:
roo

,Acedamic percentage in Operating Systems,percentage in Algorithms,Percentage in Programming Concepts,Percentage in Software Engineering,Percentage in Computer Networks,Percentage in Electronics Subjects,Percentage in Computer Architecture,Percentage in Mathematics,Percentage in Communication skills,Hours working per day,...,Interested Type of Books,Salary Range Expected,In a Realtionship?,Gentle or Tuff behaviour?,Management or Technical,Salary/work,hard/smart worker,worked in teams ever?,Introvert,Suggested Job Role
18229,64,90,73,69,75,87,93,69,84,4,...,Drama,salary,yes,stubborn,Technical,work,hard worker,yes,yes,QoS-Engineer
18237,60,62,73,76,71,75,67,87,69,7,...,Science fiction,salary,no,stubborn,Management,work,smart worker,no,yes,QoS-Engineer
18752,78,62,68,65,75,70,90,66,70,12,...,Biographies,Work,no,gentle,Management,salary,hard worker,yes,yes,Engineer
3648,93,87,80,85,76,85,84,78,80,8,...,Self help,salary,no,stubborn,Technical,salary,smart worker,no,no,Analyst
18799,90,76,76,93,72,68,72,88,83,4,...,Autobiographies,Work,yes,gentle,Management,work,hard worker,no,yes,Design & UX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9459,78,69,76,87,79,79,60,91,80,9,...,Science fiction,salary,no,gentle,Management,work,smart worker,no,yes,Supervisor
17416,60,87,62,90,60,73,87,88,67,10,...,Satire,Work,no,stubborn,Technical,salary,smart worker,no,no,Analyst
4523,91,61,75,87,76,68,74,79,91,10,...,Childrens,salary,no,stubborn,Technical,work,smart worker,yes,no,Technician
3348,90,61,90,67,73,73,69,79,81,12,...,Guide,salary,yes,gentle,Management,salary,hard worker,yes,no,SDE
2382,80,70,85,72,80,81,63,91,80,8,...,Guide,salary,yes,stubborn,Management,work,hard worker,yes,yes,Analyst

Implementing label encoding to convert labels into a numeric value

In [63]:
encode_labels = preprocessing.LabelEncoder()
roo['worked in teams ever?'] = encode_labels.fit_transform(roo['worked in teams ever?'])
roo['can work long time before system?'] = encode_labels.fit_transform(roo['can work long time before system?'])
roo['self-learning capability?'] = encode_labels.fit_transform(roo['self-learning capability?'])
roo['Extra-courses did'] = encode_labels.fit_transform(roo['Extra-courses did'])
roo['memory capability score'] = encode_labels.fit_transform(roo['memory capability score'])
roo['certifications'] = encode_labels.fit_transform(roo['certifications'])
roo['Interested subjects'] = encode_labels.fit_transform(roo['Interested subjects'])
roo['Job/Higher Studies?'] = encode_labels.fit_transform(roo['Job/Higher Studies?'])
roo['Introvert'] = encode_labels.fit_transform(roo['Introvert'])
roo['Suggested Job Role'] = encode_labels.fit_transform(roo['Suggested Job Role'])
roo['workshops'] = encode_labels.fit_transform(roo['workshops'])
roo['talenttests taken?'] = encode_labels.fit_transform(roo['talenttests taken?'])
roo['olympiads'] = encode_labels.fit_transform(roo['olympiads'])
roo['Salary/work'] = encode_labels.fit_transform(roo['Salary/work'])
roo['Type of company want to settle in?'] = encode_labels.fit_transform(roo['Type of company want to settle in?'])
roo['reading and writing skills'] = encode_labels.fit_transform(roo['reading and writing skills'])
roo['Taken inputs from seniors or elders'] = encode_labels.fit_transform(roo['Taken inputs from seniors or elders'])
roo['interested in games'] = encode_labels.fit_transform(roo['interested in games'])
roo['Interested Type of Books'] = encode_labels.fit_transform(roo['Interested Type of Books'])
roo['Salary Range Expected'] = encode_labels.fit_transform(roo['Salary Range Expected'])
roo['hard/smart worker'] = encode_labels.fit_transform(roo['hard/smart worker'])
roo['In a Realtionship?'] = encode_labels.fit_transform(roo['In a Realtionship?'])
roo['Gentle or Tuff behaviour?'] = encode_labels.fit_transform(roo['Gentle or Tuff behaviour?'])
roo['Management or Technical'] = encode_labels.fit_transform(roo['Management or Technical'])
roo['interested career area '] = encode_labels.fit_transform(roo['interested career area '])

Drop any `NA` values

In [64]:
roo.dropna()

,Acedamic percentage in Operating Systems,percentage in Algorithms,Percentage in Programming Concepts,Percentage in Software Engineering,Percentage in Computer Networks,Percentage in Electronics Subjects,Percentage in Computer Architecture,Percentage in Mathematics,Percentage in Communication skills,Hours working per day,...,Interested Type of Books,Salary Range Expected,In a Realtionship?,Gentle or Tuff behaviour?,Management or Technical,Salary/work,hard/smart worker,worked in teams ever?,Introvert,Suggested Job Role
18229,64,90,73,69,75,87,93,69,84,4,...,10,1,1,1,1,1,0,1,1,8
18237,60,62,73,76,71,75,67,87,69,7,...,26,1,0,1,0,1,1,0,1,8
18752,78,62,68,65,75,70,90,66,70,12,...,4,0,0,0,0,0,0,1,1,7
3648,93,87,80,85,76,85,84,78,80,8,...,27,1,0,1,1,0,1,0,0,0
18799,90,76,76,93,72,68,72,88,83,4,...,3,0,1,0,0,1,0,0,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9459,78,69,76,87,79,79,60,91,80,9,...,26,1,0,0,0,1,1,0,1,10
17416,60,87,62,90,60,73,87,88,67,10,...,24,0,0,1,1,0,1,0,0,0
4523,91,61,75,87,76,68,74,79,91,10,...,5,1,0,1,1,1,1,1,0,12
3348,90,61,90,67,73,73,69,79,81,12,...,13,1,1,0,0,0,0,1,0,9
2382,80,70,85,72,80,81,63,91,80,8,...,13,1,1,1,0,1,0,1,1,0

In [65]:
X = roo
Y = roo['Suggested Job Role']
X.drop("Suggested Job Role", axis = 1, inplace = True)

Implementing a train-test split as in the assignment

In [71]:
trainX, testX, trainY, testY = train_test_split(X, Y, test_size = 0.5, random_state = 0)

Implementing an Artificial Neural Network (ANN) using MLP Classifier

In [72]:
standScale = StandardScaler()
trainXScale = standScale.fit_transform(trainX)
testXScale = standScale.transform(testX)
mlp = MLPClassifier(activation = 'relu', hidden_layer_sizes = (300, 200, 100), early_stopping = True, max_iter = 500).fit(trainXScale, trainY)
predictY = mlp.predict(testX)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but MLPClassifier was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

Finding the accuracy

In [73]:
print("The accuracy is ", metrics.accuracy_score(testY, predictY) * 100)

The accuracy is  19.28

Finding the confusion matrix

In [74]:
confusionMat = metrics.confusion_matrix(testY, predictY)
print(confusionMat)

[[1928    0    0    0    0    0    0    0    0    0    0    0    0]
 [ 290    0    0    0    0    0    0    0    0    0    0    0    0]
 [ 288    0    0    0    0    0    0    0    0    0    0    0    0]
 [ 312    0    0    0    0    0    0    0    0    0    0    0    0]
 [ 292    0    0    0    0    0    0    0    0    0    0    0    0]
 [ 266    0    0    0    0    0    0    0    0    0    0    0    0]
 [ 301    0    0    0    0    0    0    0    0    0    0    0    0]
 [1453    0    0    0    0    0    0    0    0    0    0    0    0]
 [1161    0    0    0    0    0    0    0    0    0    0    0    0]
 [1409    0    0    0    0    0    0    0    0    0    0    0    0]
 [ 573    0    0    0    0    0    0    0    0    0    0    0    0]
 [1139    0    0    0    0    0    0    0    0    0    0    0    0]
 [ 588    0    0    0    0    0    0    0    0    0    0    0    0]]

Finding the class-wise accuracies

In [75]:
print(confusionMat.diagonal() / confusionMat.sum(axis = 1))

[1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

References:
- https://seaborn.pyroo.org/tutorial/introduction
- https://seaborn.pyroo.org/generated/seaborn.heatmap.html
- https://androidkt.com/find-correlation-between-features-and-target-using-the-correlation-matrix/#:~:text=You%20can%20evaluate%20the%20relationship,the%20target%20variable%20or%20not.
- https://www.projectpro.io/recipes/use-mlp-classifier-and-regressor-in-python
- https://stackoverflow.com/questions/39770376/scikit-learn-get-accuracy-scores-for-each-class